.home {
  background-image: url("../images/illust.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top 50px center;
  padding-top: 80px;
  strong.red {
    color: @pink;
    font-size: 24px;
  }
  &__cover {
    padding-bottom: 100px;
    position: relative;
    > h1 {
      text-align: center;
      margin: 0;
      padding: 0;
      > img {
        margin-bottom: 20px;
      }
    }
    > img {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin: 0 0 0 -580px;
    }
    &__organizer {
      margin: 0px auto;
      max-width: 300px;
      font-size: 14px;
      color: @blue;
      font-family: @sans-serif-b;
    }
  }
  &__scroll {
    padding-top: 80px;
    &.last-child {
      margin-bottom: 80px;
    }
  }
  &__section {
    border: 1px dashed @blue;
    border-top: none;
    .container;
    background-color: @white;
    background-image: url("../images/pattern.png");
    background-repeat:  no-repeat;
    background-position: top center;
    background-size: 100% auto;
    padding-top: 50px;
    padding-bottom: 40px;
    > h2 {
      .h2;
    }
    > h3 {
      .h2;
      font-size: 26px;
      > span {
        background: linear-gradient(transparent 95%, @pink 5%);
        padding-bottom: 6px;
      }
    }
    > .entry__flow {
      padding-right: 0;
      padding-left: 0;
    }
    &__button {
      .button(@blue, @yellow);
      font-size: 21px;
    }
    &__link {
      display: block;
      max-width: 660px;
      margin: 0px auto;
      > img {
        .transition;
        width: 660px;
        height: auto;
        margin: 0px auto;
        margin-bottom: 20px;
        .border-radius(10px);
        border: 5px solid @pink;
        .border-box;
      }
      &:hover {
        > img {
          border-color: fade(@pink,70%);
          .opacity;
        }
      }
      &__blue {
        > img {
          border: 5px solid @blue;
        }
        &:hover {
          > img {
            border-color: fade(@blue,70%);
          }
        }
      }
    }
    &__time {
      .flex;
      .center-item;
      > b {
        .flex;
        .center-item;
        background-color: @blue;
        color: @yellow;
        width: 68px;
        height: 68px;
        .border-radius(34px);
        text-align: center;
        margin-right: 10px;
        > span {
          &:last-child {
            font-size: 30px;
          }
        }
      }
      > span {
        > span {
          font-size: 27px;
        }
      }
    }
    &__description {
      font-size: 18px;
      line-height: 1.5;
      max-width: 450px;
      margin: 0px auto;
      margin-bottom: 30px;
      &.last-child {
        margin-bottom: 0;
      }
    }
    &__supplement {
      max-width: 660px;
      margin: 0px auto; 
      line-height: 1.5;
      margin-bottom: 20px;
      &__thin {
        max-width: 430px;
        font-size: 14px;
        margin: 0px auto;
        > strong {
          font-size: 16px;
          display: block;
          padding-bottom: 8px;
        }
      }
    }
    &__table {
      border-collapse: collapse;
      border-spacing: 0;
      table-layout: fixed;
      border: 1px dashed @blue;
      max-width: 900px;
      margin: 0px auto;
      margin-bottom: 30px;
      thead,
      tbody {
        tr {
          th,
          td {
            border: 1px dashed @blue;
            padding: 10px 15px 12px 15px;
            &.center { text-align: center; }
          }
        }
      }
      thead {
        tr {
          th {
            width: calc(450px - 75px);
            &:first-child {
              width: 70px;
            }
          }
        }
      }
      tbody {
        tr {
          th {
            width: 70px;
          }
          td {
            vertical-align: top;
          }
        }
      }
    }
    &__registration {
      max-width: 660px;
      margin: 0px auto;
      .border-box;
      .flex;
      .border-radius(4px);
      border: 2px solid @blue;
      padding: 20px 25px;
      flex-wrap: wrap;
      justify-content: center;
      color: @blue;
      > svg {
        width: 120px;
        height: auto;
        fill: @blue;
      }
      > p {
        margin: 0;
        padding: 0 0 0 20px;
        > strong {
          font-size: 17px;
          display: block;
          margin-bottom: 7px;
        }
      }
    }
    &__overview {
      background-image: url("../images/map.jpg");
      &__buttons {
        max-width: 600px;
        margin: 0px auto;
        margin-bottom: 20px;
        .flex;
        flex-wrap: wrap;
      }
      &__button {
        .button(@pink, @white);
        width: 280px;
        position: relative;
        font-size: 24px;
        padding-bottom: 3px;
        margin-bottom: 17px;
        svg {
          position: absolute;
          top: 50%;
          right: 0;
          margin: -12px 15px 0 0;
        }
        &__blue {
          .button(@blue, @white);
          font-size: 24px;
          padding-bottom: 3px;
          margin-bottom: 17px;
        }
      }
      &__label {
        .button(@blue, @white);
        margin-bottom: 17px;
        font-size: 24px;
        width: 280px;
        svg {
          position: absolute;
          top: 50%;
          right: 0;
          margin: -12px 15px 0 0;
        }
      }
    }
    &__present {
      > img {
        display: block;
        margin: 0px auto;
        margin-bottom: 30px;
        width: 660px;
        height: auto;
      }
    }
    &__stage {
      &__body {
        background-color: @yellow;
        border: 3px solid @blue;
        max-width: 900px;
        .border-box;
        margin: 0px auto;
        padding: 26px 80px 5px 80px;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        > h3 {
          font-size: 28px;
          text-align: center;
          padding-top: 20px;
          margin: 0 0 20px 0;
          > span {
            font-size: 20px;
            display: block;
          }
        }
        > p {
          max-width: 550px;
          margin: 0px auto;
          margin-top: 0;
          margin-bottom: 30px;
          line-height: 1.4;
        }
        > figure {
          margin: 0 0 20px 0;
          .flex;
          .center-item;
          > img {
            //-width: 200px;
            height: 200px;
            .border-radius(4px);
          }
          > figcaption {
            padding-left: 15px;
            line-height: 1.4;
            > span {
              font-family: @sans-serif-b;
              display: block;
              margin-bottom: 5px;
            }
          }
          &:nth-child(odd) {
            flex-direction: row-reverse;
            > figcaption {
              padding: 0 15px 0 0;
            }
          }
        }
        &__theme {
          border: 2px solid @blue;
          .border-box;
          .border-radius(4px);
          max-width: 400px;
          margin: 0px auto;
          margin-bottom: 30px;
          padding: 15px 20px;
          color: @blue;
          > h4 {
            margin: 0 0 10px 0;
            text-align: center;
            font-size: 18px;
          }
          ul {
            margin: 0;
            padding: 0 0 0 20px;
          }
        }
      }
    }
    &__draft {
      .job__list {
        margin-bottom: 30px;
      }
      > .home__section__description {
        max-width: 640px;
      }
    }
    &__symposium {
      > .home__section__description {
        max-width: 600px;
      }
      &__banners {
        .flex;
        margin-bottom: 30px;
        > a {
          display: block;
          .border-box;
          width: calc(50% - 10px);
          .border-radius(10px);
          border: 5px solid @pink;
          .transition;
          cursor: default;
          > img {
            .border-radius(5px);
            .transition;
          }
          &:first-child {
            margin-right: 10px;
          }
          &:last-child {
            margin-left: 10px;
          }
          &:hover {
            //-border-color: fade(@pink,70%);
            > img {
              //-.opacity;
            }
          }
        }
      }
      &__schedule {
        .flex;
        .center-item;
        flex-wrap: wrap;
        max-width: 400px;
        margin: 0px auto;
        time {
          width: 50%;
          margin-bottom: 10px;
        }
        strong {
          font-size: 22px;
          margin-bottom: 25px;
        }
      }
    }
    &__consultation {
      > .home__section__description {
        max-width: 500px;
      }
      > .home__section__supplement__thin {
        max-width: 480px;
      }
    }
  }
  @media(max-width: 767px) {
    background-position: top 90px center;
    &__cover {
      padding-bottom: 30px;
      > h1 {
        > img {
          max-width: 95%;
        }
      }
    }
    &__section {
      background-size: 300% auto;
      border-right: none;
      border-left: none;
      > h2 {
        font-size: 9vw;
        br { display: none; }
      }
      &__overflow-x {
        overflow-x: scroll;
        margin-bottom: 30px;
      }
      &__table {
        margin-bottom: 0px;
        thead,
        tbody {
          tr {
            th,
            td {
              font-size: 4vw;
            }
          }
        }
        thead {
          tr {
            th {
              width: 140px;
            }
          }
        }
        tbody {
          tr {
            th {
              width: auto;
            }
          }
        }
      }
      &__time {
        display: block;
        text-align: center;
        > b {
          margin: 0px auto;
          margin-bottom: 5px;
          height: 40px;
          .border-radius(0px);
        }
      }
      &__registration {
        padding: 15px;
        > p {
          padding-left: 0;
        }
      }
      &__overview {
        background-image: url("../images/pattern.png");
      }
      &__stage {
        padding-left: 0;
        padding-right: 0;
        &__body {
          padding-left: 15px;
          padding-right: 15px;
          border-left: none;
          border-right: none;
          > figure {
            flex-wrap: wrap;
            img {
              margin-bottom: 5px;
            }
            > figcaption {
              padding-left: 0;
            }
          }
        }
      }
      &__symposium {
        &__banners {
          flex-wrap: wrap;
          > a {
            width: 100%;
            &:first-child {
              margin: 0 0 20px 0;
            }
            &:last-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
