.home {
  &__section {
    border: 1px dotted @blue;
    .container;
    margin-bottom: 60px;
    background-color: @white;
    background-image: url("../images/pattern.png");
    background-repeat:  no-repeat;
    background-position: top center;
    background-size: 100% auto;
    padding-top: 50px;
    padding-bottom: 40px;
    > h2 {
      .h2;
    }
    &__button {
      .button(@blue, @yellow);
    }
  }
}
