ul.entry__flow
  li
    include ../../svg/pictogram01.svg
    h3 まずはエントリー
    p
      | 宮城ならではの仕事をWebでチェック。
      br
      | あなたらしさを発揮できる仕事を選んでエントリー。
    include ../../svg/arrow.svg
  li
    include ../../svg/pictogram02.svg
    h3 オンラインイベントへ参加
    p
      | 自宅などからイベント参加。
      br
      | オンラインで交流し、企業、市町村にスカウトしてもらおう。
    include ../../svg/arrow.svg
  li
    include ../../svg/pictogram03.svg
    h3 個別相談ブースに参加
    p
      | さらに興味がある市町村や事業所の話を個別相談ブースでじっくり聞いてみよう。
