-
  var nav = {
    top:{
      url:"/",
      name:"宮城まるごとオンライン移住フェア",
      blank: false
    },
    draft:{
      url:"/draft/",
      name:"宮城しごとドラフト",
      blank: false
    },
    booth:{
      url:"http://52.197.25.167",
      name:"個別相談ブース",
      blank: true
    },
    symposium:{
      url:"https://lp.sibire.co.jp/meeting",
      name:"Miyagi Meeting",
      blank: true
    },
    term:{
      url:"/privacy/",
      name:"プライバシーポリシー",
      blank: false
    }
  };

footer.footer
  .footer__inner
    .footer__organization
      .footer__organization__logo
        a(href="https://www.pref.miyagi.jp/soshiki/tisin/" target="_blank" rel="nofollow")
          img(src=metas.image + "images/miyagi.jpg" alt="宮城県震災復興・企画部 地域振興支援課")
      .footer__organization__information
        strong 宮城県震災復興・企画部 地域振興支援課
        address 〒980-8570宮城県仙台市青葉区本町三丁目8番1号行政庁舎6階南側
    ul.footer__nav
      - for(item in nav)
        li
          a(href=`${nav[item].url}` ,target=nav[item].blank === true ? '_blank' : '', rel=nav[item].blank === true ? 'nofollow' : '')
            = nav[item].name
            if nav[item].blank == true
              i(data-feather="external-link")
    small Copyright &copy; Miyagi Prefectural Government. All Rights Reserved

script.
  (function() {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
    var ch = function() {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function(args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
  ChannelIO('boot', {
    "pluginKey": "44755343-580b-4f26-a619-5f607bf09e3f"
  });
