-
  var nav = {
    top:{
      url:"/",
      name:"宮城まるごとオンライン移住フェア",
      blank: false
    },
    draft:{
      url:"/draft/",
      name:"宮城しごとドラフト",
      blank: false
    },
    booth:{
      url:"https://ijyufairbooth.pref.miyagi.jp/",
      name:"個別相談ブース",
      blank: true
    },
    symposium:{
      url:"https://lp.sibire.co.jp/meeting",
      name:"Miyagi Meeting",
      blank: true
    },
    term:{
      url:"/privacy/",
      name:"プライバシーポリシー",
      blank: false
    }
  };

footer.footer
  .footer__inner
    .footer__organization
      .footer__organization__logo
        a(href="https://www.pref.miyagi.jp/soshiki/tisin/" target="_blank" rel="nofollow")
          img(src=metas.image + "images/miyagi.jpg" alt="宮城県震災復興・企画部 地域復興支援課")
      .footer__organization__information
        strong 宮城県震災復興・企画部 地域復興支援課
        address 〒980-8570宮城県仙台市青葉区本町三丁目8番1号行政庁舎6階南側
    ul.footer__nav
      - for(item in nav)
        li
          a(href=`${nav[item].url}` ,target=nav[item].blank === true ? '_blank' : '', rel=nav[item].blank === true ? 'nofollow' : '')
            = nav[item].name
            if nav[item].blank == true
              i(data-feather="external-link")
    small Copyright &copy; Miyagi Prefectural Government. All Rights Reserved
