-
  var nav = {
    top:{
      url:"/",
      name:"宮城まるごとオンライン移住フェア"
    },
    draft:{
      url:"/draft/",
      name:"宮城しごとドラフト"
    },
    booth:{
      url:"javascript:void(0);",
      name:"個別ブース"
    },
    symposium:{
      url:"javascript:void(0);",
      name:"Miyagi Meeting"
    }
  };
  function currentCheck(i){
    if( i == page )
      return "current";
    else
      return "";
  }

header.header
  #brand
    a(href="/")
      include ../../svg/brand.svg
  input#drawer__check.drawer__input(type="checkbox")
  label#drawer__icon.drawer__icon(for="drawer__check")
    span
  nav
    ul.header__nav
      - for(item in nav)
        li(class=`header__nav__item ${currentCheck(item)}`)
          a(href=`${nav[item].url}`)= nav[item].name
