-
  var nav = {
    home:{
      url: scroll,
      name:"ステージイベント",
      blank: false
    },
    draft:{
      url:"/draft/",
      name:"宮城しごとドラフト",
      blank: false
    },
    booth:{
      url:"https://ijyufairbooth.pref.miyagi.jp/",
      name:"個別相談ブース",
      blank: true
    },
    symposium:{
      url:"https://lp.sibire.co.jp/meeting",
      name:"Miyagi Meeting",
      blank: true
    }
  };
  function currentCheck(i){
    if( i == page )
      return "current";
    else
      return "";
  }

header.header
  .header__inner
    #brand
      a(href="/")
        include ../../svg/brand.svg
    input#drawer__check.drawer__input(type="checkbox")
    label#drawer__icon.drawer__icon(for="drawer__check")
      span
    nav
      ul.header__nav
        - for(item in nav)
          li(class=`header__nav__item ${currentCheck(item)}`)
            label(for="drawer__check")
              a(href=`${nav[item].url}` ,target=nav[item].blank === true ? '_blank' : '', rel=nav[item].blank === true ? 'nofollow' : '')
                = nav[item].name
                if nav[item].blank == true
                  i(data-feather="external-link")
