ul.job__list
  -
      var joblist = [
        {
          num: 2056,
          title: '気仙沼に漁師を増やす仕掛け人、募集！',
          subtitle: '気仙沼市',
        },
        {
          num: 2064,
          title: '城下町・白石に新たなファンをつくる立役者',
          subtitle: '白石市',
        },
        {
          num: 2081,
          title: 'かくだ1',
          subtitle: '角田市',
        },
        {
          num: 2082,
          title: '道の駅駅長の右腕として、地域を盛り上げる',
          subtitle: '角田市',
        },
        {
          num: 2137,
          title: 'くりはら',
          subtitle: '栗原市',
        },
        {
          num: 2145,
          title: 'ひがしまつしま',
          subtitle: '東松島市',
        },
        {
          num: 3222,
          title: '歴史と文化のまち・村田町の魅力を発信',
          subtitle: '村田町',
        },
        {
          num: 3231,
          title: 'しばた',
          subtitle: '柴田町',
        },
        {
          num: 6060,
          title: '南三陸杉を活用し「木材」を核にした地域振興を',
          subtitle: '南三陸町',
        },
        {
          num: 6061,
          title: 'カヤックにキャンプ、SUP…あそびを学びに！経営者候補募集',
          subtitle: '南三陸町',
        },
        {
          num: 6062,
          title: '日本初！世界の海藻マーケットの拡大に挑戦',
          subtitle: '南三陸町',
        },
      ]
  each item in joblist
    li
      a(href="/draft/04" + item.num + ".html")
        b #{item.subtitle}
        img(src="" + metas.image + "images/draft/04" + item.num + "a.jpg" alt="")
        h3 #{item.title}
