ul.draft__section__list
  -
      var list = [
        {
          num: 0,
          title: '気仙沼に漁師を増やす仕掛け人、募集！',
          subtitle: '気仙沼市',
        },
        {
          num: 1,
          title: '保育士／認証保育園',
          subtitle: '世田谷区',
        },
        {
          num: 2,
          title: '訪問介護介護福祉士',
          subtitle: '大田区',
        },
        {
          num: 3,
          title: 'SE',
          subtitle: '町田市',
        },
        {
          num: 4,
          title: '経理事務・総務事務',
          subtitle: '港区',
        },
        {
          num: 5,
          title: 'ITエンジニア',
          subtitle: '新宿区',
        },
      ]
  each item in list
    li
      a(href="/draft/040" + item.num + ".html")
        b #{item.subtitle}
        img(src="" + metas.image + "images/draft/040" + item.num + "00.jpg" alt="")
        h3 #{item.title}
