meta(property="og:title", content=metas.title)
meta(property="og:type", content=metas.type)
meta(property="og:url", content="https://ijyufair.pref.miyagi.jp/" + metas.url)
meta(property="og:image", content="https://ijyufair.pref.miyagi.jp/images/" + metas.ogp)
meta(property="og:site_name", content="宮城まるごとオンライン移住フェア")
meta(property="og:description", content=metas.description)
meta(property="fb:app_id", content="任意のID")
