extends ../include/_layout
block var
  - metas = {}
  - metas.title = '〇〇株式会社'
  - metas.url = 'draft/0000'
  - metas.image = '../../'
  - metas.description = 'サブタイトル'
  - page = 'draft'
block body
  .article
    include ../include/_header
    include ../include/_breadcrumb
    article
      h1=metas.title
      | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    include ../include/_footer
