extends ../include/_layout
block var
  - metas = {}
  - metas.title = '宮城しごとドラフト'
  - metas.type = 'website'
  - metas.image = '../'
  - metas.url = 'draft/'
  - metas.ogp = 'draft/ogp.png'
  - metas.description = 'やりたい仕事にエントリーして、あたらしいキャリアをスタートさせよう。'
  - page = 'draft'
block body
  .draft
    include ../include/_header
    .draft__cover
      h1
        img(src="" + metas.image + "images/draft.png" alt=metas.title)
      a.draft__section__button(href="javascript:void(0);") 参加エントリー
      time
        img(src="" + metas.image + "images/draft_datetime.png" alt="2021.1.13 [土] 10:00~12:00")
    section.draft__section
      h2
        span 自分だけのキャリアを手にするまでの流れ
      p やりたい仕事にエントリーして、あたらしいキャリアをスタートさせよう。
      include ../include/_entryflow
    section.draft__section
      h2
        span イベント概要
      table.draft__section__table
        tbody
          tr
            th 日時
            td 2021年2月13日（土）10：00～12:00
          tr
            th 実施方法
            td オンラインで開催
          tr
            th 参加費
            td 無料
          tr
            th 定員
            td 20名
      p.draft__section__explan
        | オンラインイベントのため、自宅からイベントサイトへアクセスして参加いただくことになります。
        br
        | ◆必須環境
        br
        | ・ZoomをインストールしてあるPCまたはタブレット（講演者が資料の画面共有をしたり、プレゼンターがデモを見せたりしますので、見やすさの観点からPC推奨）
        br
        | ・安定したインターネット環境
        br
        |  （参考：通信データ量は、300MB／時間程度です。Skypeの1/5〜1/7程度 ）
        br
        | ◆推奨環境
        br
        | ・イヤホンまたはヘッドホン
        br
        | ◆参加方法
        br
        | Zoomはアカウントを登録していなくても、URLをクリックするだけで参加することができます。
        br
        | 主催者からアナウンスのあったURLをクリックして入室してください。
        br
        | お名前を入力するウィンドウが出ることがありますが、入力していただくのは本名でもニックネームでも構いません。
    section.draft__section
      h2
        span タイムテーブル
      table.draft__section__table
        tbody
          tr
            th 10:00
            td 開演、趣旨説明
          tr
            th 10:05
            td 企業から事業紹介（１社1分: 10分）
          tr
            th 10:15
            td 参加者から自己紹介（１名1分: 10分）
          tr
            th 10:30
            td
              | 企業へ直接アプローチ・質問タイム
              br
              | （1社につき4分間×10回/参加者1~2名ずつ各社へPRする ※10分間休憩あり）
          tr
            th 11:30
            td
              | 事業者より参加者指名→参加者は指名を受けた事業所へ承諾の解答
              br
              | スカウト成立してない参加者から事業所へアプローチ→事業所より承諾解答
          tr
            th 11:40
            td 結果発表→スカウト成立！事業所と個別ルームにて連絡先の交換  
          tr
            th 12:00
            td 終演
    section.draft__section
      h2
        span
          | 気になる仕事を探して
          br
          | イベントへエントリー

      include ../include/_joblist

    section.draft__section.last-child
      h2
        span エントリーフォーム
      a.draft__section__button(href="javascript:void(0);") 参加エントリー
      p エントリー時に、あなた自身の経験・PRポイントを明記し、しっかりアピールしよう。

    include ../include/_footer
