extends ../include/_layout
block var
  - metas = {}
  - metas.title = '宮城まるごとオンライン移住フェア'
  - metas.url = ''
  - metas.image = '/'
  - metas.site_name = '宮城まるごとオンライン移住フェア'
  - metas.description = '宮城で暮らす、はたらくをわかりやすくご紹介！'
  - page = 'top'
block body
  include ../include/_header
  h1 宮城まるごとオンライン移住フェア
  a.draft__section__button(href="/draft/") 宮城しごとドラフトとは
  include ../include/_footer
