extends ../include/_layout
block var
  - metas = {}
  - metas.title = '宮城まるごとオンライン移住フェア'
  - metas.url = ''
  - metas.image = '/'
  - metas.site_name = '宮城まるごとオンライン移住フェア'
  - metas.description = '宮城で暮らす、はたらくをわかりやすくご紹介！'
  - page = 'home'
block body
  .home
    include ../include/_header
    h1 宮城まるごとオンライン移住フェア
    section.home__section
      h2
        span
          | 宮城で暮らす、はたらくを
          br
          | わかりやすくご紹介！
      p
        | 今すぐ転職したい方、
        br
        | 宮城への移住になんとなく興味がある方など、
        br
        | どなたでもお気軽にお越しください。
      p
        | 宮城県内市町村と宮城県内企業○社が市町村と仕事の魅力をご紹介します。
        br
        | どこの話を聞いたらいいかわからない方は各市町村、企業の情報をご覧ください。
        br
        | 気になる市町村や仕事があれば、各市町村や企業に直接話が聞ける個別相談ブースを訪問してみてください。
        br
        | いずれも当日参加も可能ですが、参加人数が限られますので事前予約がおすすめです。
    section.home__section
      h2
        span 参加者特典
      p
        | 「宮城しごとドラフト」「個別相談ブース」に事前予約いただいた先着50名様に、
        br
        | 自宅にいながら宮城を味わうことができる「宮城まるごと味わいセット」をプレゼントします。
        br
        | イベント当日は、宮城の味を楽しみながら、是非ご参加ください！
    section.home__section
      h2
        span ステージイベント
    section.home__section
      h2
        span 宮城しごとドラフト
      p
        | 「宮城で働きたい」あなたと「宮城で働いて欲しい」企業マッチングイベント
        br
        | あなたのことを企業担当者が直接スカウトします！
      a.home__section__button(href="/draft/") 宮城しごとドラフトとは
    section.home__section
      h2
        span Miyagi Meeting
    section.home__section
      h2
        span 個別相談ブース
      p
        | 気になる市町村や仕事があれば、各市町村や企業に直接話が聞ける市町村ブースを訪問してみてください。
        br
        | いずれも参加人数が限られますので事前予約がおすすめです。
      a.home__section__button(href="javascript:void(0);") 個別相談ブースとは
    include ../include/_footer
