extends ../include/_layout
block var
  - metas = {}
  - metas.title = '宮城まるごとオンライン移住フェア | プライバシーポリシー'
  - metas.url = 'privacy/'
  - metas.image = '../'
  - metas.description = 'プライバシーポリシー'
block body
  .article
    include ../include/_header
    include ../include/_breadcrumb
    h1 プライバシーポリシー
    include ../include/_footer
