extends ../include/_layout
block var
  - metas = {}
  - metas.title = '宮城まるごとオンライン移住フェア | プライバシーポリシー'
  - metas.image = '../'
  - metas.url = 'privacy/'
  - metas.ogp = 'ogp.jpg'
  - metas.description = 'プライバシーポリシー'
  - page = 'privacy'
  - scroll = '/#home__section__stage'
block body
  .page
    include ../include/_header
    include ../include/_breadcrumb
    .page__body
      h1 プライバシーポリシー
      p
        | 個人情報の取り扱い等に関する下記事項をご確認ください。
        br
        br
        | 宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社は、 個人情報保護法その他の関係法令等のほか、下記の取扱方針に基づき、ご相談者の個人情報の適切な保護と利用に努めます。
        br
        br
        strong １個人情報の定義
        br
        | 宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社では、個人に関する情報であって、特定の個人を識別することができるもの（他の情報と照合することにより、特定の個人を識別することができることとなるものを含む）を個人情報として取り扱います。
        br
        br
        strong ２個人情報の収集
        br
        | 宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社は、ご相談者の個人情報について、業務上必要な範囲において、適正かつ適法な手段により取得します。
        br
        br
        strong ３個人情報の利用目的
        br
        | 宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社は、宮城まるごとオンライン移住フェア参加者の個人情報について、以下の利用目的に達成に必要な範囲において取り扱うこととし、その範囲を超えて他の目的に利用することはありません。
        br
        | ・宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社が宮城まるごとオンライン移住フェアの業務を実施するに当たり必要な連絡や調整を行うため。
        br
        | ・宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社の取組に関する情報を提供するため。
        br
        | ・宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社の取組に関して、ご協力を依頼するため。
        br
        | ・その他、宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社が宮城まるごとオンライン移住フェアの取組を推進するに当たり、必要となる業務を実施するため。
        br
        br
        strong ４個人情報の第三者への提供
        br
        | 宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社が取得した個人情報は、以下のいずれかに該当する場合を除き、第三者に提供することはありません。
        br
        | ・宮城まるごとオンライン移住フェア参加者から同意をいただいている場合。
        br
        | ・宮城まるごとオンライン移住フェアに参加している県内市町村や事業所、求人企業等と利用目的の達成に必要な範囲で情報共有をする必要がある場合。
        br
        | ・情報処理や発送作業等のために、業務を委託する個人や企業・団体への開示が必要な場合。
        br
        | ・ご相談者の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合。
        br
        | ・その他、法令に基づく場合。
        br
        br
        strong ５個人情報の管理
        br
        | 宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社社では、ご相談者の個人情報を正確かつ最新の状態で保管・管理するよう努めるとともに、紛失、漏えい、改ざん等を防止するため、合理的な安全管理措置を実施します。
        br
        br
        strong ６個人情報の開示・修正・削除
        br
        | 宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社では、収集した個人情報の開示、修正、削除等をご相談者が希望する場合、個人情報保護法その他の関係法令等に従い、合理的な範囲で速やかに対応します。
        br
        br
        strong ７取組の継続的改善
        br
        | 宮城県、認定NPO法人ふるさと回帰支援センター、シビレ株式会社は、情報技術の発展や社会的要請の変化等を踏まえて本方針を適宜見直し、ご相談者の個人情報の取扱いについて、継続的に改善に努めてまいります。
        br
        br
        strong ８個人情報の取扱いに関するお問合せ先
        br
        br
        | 宮城県震災復興企画部地域復興支援課移住定住推進班
        br
        | 〒980-8570　宮城県仙台市青葉区本町3-8-1
        br
        | TEL：022-211-2454　FAX：022-211-2442
        br
        br
        | 認定NPO法人ふるさと回帰支援センター
        br
        | 〒100-0006　東京都千代田区有楽町2-10-1　東京交通会館8階
        br
        | TEL：03-6273-4401　FAX：03-6273-4404
        br
        br
        | シビレ株式会社
        br
        | 〒980-0014　宮城県仙台市青葉区本町1丁目5-28カーニープレイス503
        br
        | TEL：050-3177-2660
    include ../include/_footer
