extends ../include/_layout
block var
  - metas = {}
  - metas.title = '宮城まるごとオンライン移住フェア | プライバシーポリシー'
  - metas.url = 'privacy/'
  - metas.image = '../'
  - metas.description = 'プライバシーポリシー'
  - page = 'privacy'
block body
  .page
    include ../include/_header
    include ../include/_breadcrumb
    .page__body
      h1 プライバシーポリシー
      - var sample = ['1','2','3','4','5','6','7','8','9','10','11','12','13']
        each item in sample
          strong #{item}）個人情報の定義
          p
            | このプライバシーポリシーにおいて、個人情報とは生存する個人に関する情報であって、以下のいずれかに該当するものをいいます。
            br
            br
            | 当該情報に含まれる氏名、生年月日その他の記述等｛文書、図画もしくは電磁的記録（電子的方式、磁気的方式そのほか人の知覚によって認識することができない方式により作られた記録をいう）に記載され、もしくは記録され、または音声、動作その他の方法を用いて表された一切の事項（個人識別符号を除く）をいう｝により、特定の個人を識別できるもの（他の情報と容易に照合でき、それにより特定の個人を識別できるものを含む）。
            br
            | 個人識別符号が含まれるもの。
    include ../include/_footer
